/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Reset */

/* General Rules */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  font-weight: 300;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
}
.content {
  width: 82%;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* End General Rules */

/** HEADER **/
/* Container Layout */
header {
  width: 100%;
  background: #0c325a;
  background-image: url("../img/background-header.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 112% 100%;
}
header .content {
  padding-bottom: 8%;
  position: relative;
}
/* End Container Layout */
/* Navbar */
header .content div{
  float: left;
  padding-top: 1%;
}
header .content nav .logo{
  width: 15%;
  /* background: yellow; */
}
header .content nav .left{
  /* background: blue; */
  width: 45%;
}
header .content nav .right{
  width: 40%;
  text-align: right;
}
header .content .nav .menu li{
  display: inline-block;
  font-size: 12px;
  margin-top: 3%;
  text-transform: uppercase;
  padding: 0 11px;
}
header .content .nav .menu li a.login {
  padding: 7px 30px;
  border: 1px solid white;
  border-radius: 5px;
}
header .content .nav .menu li a.button {
  padding: 7px 7px;
  border: 1px solid #7cbc02;
  background-color: #7cbc02;
  border-radius: 5px;
}
header .content .nav .menu li a.button:hover {
  border: 1px solid orange;
  background-color: orange;
  transition: 0.3s;
  padding: 10px;
}
/* End Navbar */

/* Hero Text */
header .content .text {
  float: left;
}
header .content .text h1{
  font-size: 60px;
  color: white;
  margin: 14% 0;
}
header .content .text a.cta{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px 25px;
  border: 1px solid #7cbc02;
  background-color: #7cbc02;
  border-radius: 5px;
}
header .content .text a.cta:hover{
  border: 1px solid orange;
  background-color: orange;
  transition: 0.3s;
}
/* End Hero Text */
/** END HEADER **/

/** MAIN **/
/* Fixed Button */
#float-button{
  padding: 10px;
  background: #7cbc02;
  text-align: center;
  color: white;
  font-size: 18px;
  border: 1px solid #7cbc02;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 14%;
  bottom: 0;
}
#float-button:hover {
  border: 1px solid orange;
  background-color: orange;
  transition: 0.3s;
}
/* End Fixed Button */

/* Sub-hero */
main .main-container .sub-hero{
  background: lightgray;
  text-align: center;
  padding: 1.5%;
}
main .main-container .sub-hero h3{
  font-size: 25px;
}
main .main-container .sub-hero p{
  font-size: 20px;
  padding: 10px;
  color:
}
/* End Sub-hero */

/* First Row Layout */
main .main-container .first-row {
  width: 82%;
  margin: 0% auto;
}
main .main-container .first-row .col{
  width: 32%;
  float: left;
  margin-left: 1%;
  padding: 2% 1%;
}
main .main-container .first-row .col .image-wrapper {
  width: 50%;
  margin: 0 auto;
  height: 200px;
}
main .main-container .first-row .col .image-wrapper img{
  height: 160px;
}
main .main-container .first-row .col .text h2{
  text-align: center;
  font-size: 25px;
  color: #7cbc02;
  padding: 5% 0;
  height: 100px;
}
main .main-container .first-row .col .text hr{
  width: 50%;
  margin: auto;
}
main .main-container .first-row .col .text p{
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  color: gray;
}
/* End First Row Layout */
main .main-container hr{
  width: 90%;
  margin: auto;
}

/* Second Row Layout */
main .main-container .second-row {
  width: 82%;
  margin: 0% auto;
}
main .main-container .second-row .col{
  width: 48%;
  float: left;
  margin-left: 1%;
  padding: 2% 1%;
}
main .main-container .second-row .col .image-wrapper{
  width: 80%;
  margin: 0 auto;
}
main .main-container .second-row .col .text{
  margin: 5% 0;
}
main .main-container .second-row .col .text h2{
  font-size: 30px;
  margin: 5% 0;
}
main .main-container .second-row .col .text p{
  font-size: 20px;
  color: gray;
  margin: 5% 0;
}
/* End Second Row Layout */

/** END MAIN **/
